*/*/.gitignore

# IDE files
**/.vscode
**/.idea
**/.clang*
**/.editorconfig
**/.gitattributes

**/CMakeLists.txt
**/cmake-build-debug
**/.venv
**/out
**/Day*.iml

# Input files
example*
input*
everybody_codes*
*notes*

# Output files
part1
part2
part3
output*